/* setup */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Play', monospace, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
}

section {
  margin-bottom: 30px;
}

/* classes */
.container {
  margin-left: 35%;
  margin-right: 5%;
  padding-top: 25px;
  width: 100%;
  margin-bottom: 50px;
}

.boxy {
  width: 70%;
  padding: 20px;
  margin: 25px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.boxy:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* nav */
#sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 25px;
  text-align: right;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.nav-bar {
  margin-top: 35px;
}

.nav-item {
  display: block;
  margin-bottom: 30px;
}

.nav-item .link {
  letter-spacing: 5px;
}

.more .link:hover,
.nav-bar .link:hover,
.mail:hover {
  border-bottom: 3px solid crimson;
  letter-spacing: normal;
}

.btn-check {
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
  padding: 0 10px 10px 10px;
  line-height: 0;
}

#check {
  display: none;
}

.title {
  font-size: 2rem;
  border-bottom: 3px solid crimson;
  margin-bottom: 0;
  padding-bottom: 20px;
  line-height: 0.8;
}

.sub-title {
  margin-top: 0;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.title-desc {
  margin-top: 5px;
}

.link {
  font-weight: bold;
  text-transform: uppercase;
  color: #111;
  padding: 5px;
  margin-bottom: 25px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.mail {
  text-transform: lowercase;
}

.link:hover {
  text-decoration: none;
}

/* section */
.sect-title {
  color: #111;
  text-transform: uppercase;
  padding: 10px;
  border-right: 3px solid crimson;
  border-bottom: 3px solid crimson;
  border-bottom-right-radius: 5px;
}

.sect-title {
  font-size: 1.8rem;
}

.sect-desc {
  line-height: 2;
  margin-top: 15px;
}

.item-title {
  margin-top: 10px;
  margin-bottom: 7px;
  color: #333;
}

.item-desc {
  line-height: 1.5;
}

.item-title,
.item-desc {
  text-align: center;
}

.embed-item {
  font-weight: bold;
  text-align: center;
}

.video {
  width: 90%;
  height: 320px;
}

/* footer */
.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15px;
  text-align: center;
}

/* social */
.fab {
  transition: all 0.3s ease-in-out;
}

.fab.fa-github:hover,
.fab.fa-github:visited {
  color: #6e5494;
}

.fab.fa-bandcamp:hover,
.fab.fa-bandcamp:visited {
  color: #629aa9;
}

.fab.fa-twitter:hover,
.fab.fa-twitter:visited {
  color: #1da1f2;
}

.fab.fa-instagram:hover,
.fab.fa-instagram:visited {
  color: #f56040;
}

/* links */
.more {
  text-align: center;
}

/* queries */
@media screen and (max-width: 992px) {
  .boxy {
    width: 80%;
  }
  section {
    width: 100%;
  }

  #home {
    padding-top: 100px;
  }

  #sidenav {
    width: 100%;
    height: 110px;
    padding: 5px;
    margin: auto;
    background: #fff;
  }
  .container {
    width: 90%;
    margin: auto;
  }

  .title,
  .sub-title {
    font-size: 1.5rem;
    border: 0 transparent;
  }

  .sect-title {
    text-align: center;
  }

  .nav-item {
    padding-left: 25px;
    display: inline-block;
    font-size: 0.9rem;
  }

  .main-title {
    margin-top: 15px;
    padding-left: 10%;
    padding-right: 15px;
    text-align: right;
    position: fixed;
    border-right: 3px solid crimson;
  }

  .nav-bar {
    display: block;
    position: absolute;
    width: 97%;
    margin-bottom: 0;
    transition: all 0.3s ease-in;
  }

  .nav-bar .link {
    line-height: 1.5;
  }

  .mail {
    position: absolute;
    margin-bottom: 0;
    margin-left: 25%;
    text-align: right;
    font-size: 0.8rem;
  }

  .title-desc,
  .footer {
    margin-bottom: -1000px;
    display: none;
    visibility: hidden;
  }

  .video {
    margin: auto;
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .boxy {
    width: 100%;
  }

  .nav-item {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .nav-bar {
    width: 85%;
    top: 0;
    margin-top: 5px;
    left: -100%;
    height: 100%;
    background: #fefefe;
    border-top: 3px solid crimson;
  }

  .btn-check {
    margin-top: 5px;
    display: block;
    color: crimson;
  }

  #check:checked ~ .nav-bar {
    left: 0;
  }
}

@media screen and (max-width: 598px) {
  .nav-item {
    display: block;
  }

  .nav-bar {
    width: 83%;
  }

  .main-title {
    padding-left: 0;
    margin-left: 25px;
  }
}
